*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.body-style{
    background-image: url(img/7.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


